/* font-size - размер текста 
   color - цвет текста
   font-weight - толщина шрифта
   text-decoration - задаёт вид декоративных линий в тексте
   backround-color - изменяет цвет фона
   height - высота (px или %)
*/

.header .navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ff9d4d;
  font-size: 20px;
}

.name {
  align-items: center;
  background-color: rgb(0, 255, 13);
  padding: 20px 50px;
}

h1 {
  color: rgb(212, 59, 13);
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: blueviolet;
}

.hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(8, 100, 0);
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 40px;
}

.column_1 {
  width: 30%;
  background: #6f6363;
  padding: 25px;
  text-align: center;
  border-radius: 8%;
}

.column_2 {
  width: 30%;
  background: #7c87e1;
  padding: 25px;
  text-align: center;
}

.column_3 {
  width: 30%;
  background: #84e17c;
  padding: 25px;
  text-align: center;
  border-radius: 8%;
}

p {
  max-width: 450px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: rgb(255, 0, 0);
}

.table {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(242, 175, 127);
  height: auto;
  background-color: aqua;
}

tr {
  background-color: azure;
}

td {
  background-color: darkcyan;
}

*html,
body {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
  background-color: rgb(218, 255, 196);
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(175, 154, 154);
  padding: 50px;
}
